# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
package-lock.json

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Uploaded profile pictures (users genereren deze zelf)
public/uploads/pending/*
public/uploads/profiel/*
!public/uploads/pending/.gitkeep
!public/uploads/profiel/.gitkeep
